<form class="bg-light text-center col-md-8" action="/add" method="post">
   <div>
      <h1 class="text text-primary">Add new toy</h1>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Name</label>
      <input class="form-control" type="text" name="name" required>
   </div>
   <div class="form-group mt-3">
      <label for="cars">Choose a brand:</label>
      <select name="brand" id="brand">
         {{#each category }}
             <option value="{{name}}">{{name}}</option>
         {{/each}}
</select>
      {{!-- <label class="text text-success">Brand</label>
      <input class="form-control" type="text" name="brand" required> --}}

   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Price</label>
      <input class="form-control" type="text" name="price" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Quantity</label>
      <input class="form-control" type="number" name="quantity" required>
   </div>
   <div class="form-group mt-3">
      <label class="text text-success">Image</label>
      <input class="form-control" type="text" name="image" required>
       </div>
       <div class="form-group mt-3">
   <label for="date">Select a Date:</label>
<input type="date" id="date" name="date">
</div>
   <div class="form-group mt-3">
      <input class="btn btn-danger" type="submit" value="Add">
   </div>
</form>



{{!-- <select name="brand" id="brand">
  <option value="volvo">Volvo</option>
  <option value="saab">Saab</option>
  <option value="mercedes">Mercedes</option>
  <option value="audi">Audi</option>
</select> --}}